<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования файлов web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение
    "connectionString" с целью использования "ReleaseSQLServer", только когда
    указатель "Match" находит атрибут "name", который имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="StuffUrl" value="http://test.portal.unitgroup.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="zipClaimUrl" value="http://test.zip.unitgroup.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServiceUrl" value="http://test.serv.unitgroup.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key ="Emails4Test" value="anton.rehov@unitgroup.ru|alexander.medvedevskikh@unitgroup.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />-->
    <add key ="Emails4Test" value="anton.rehov@unitgroup.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key ="Emails4SysError" value="anton.rehov@unitgroup.ru" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key ="Environment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key ="UserProxy" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="StuffConnectionString" connectionString="Data Source=usql-dev;Initial Catalog=Stuff;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="SpeCalcConnectionString" connectionString="Data Source=usql-dev;Initial Catalog=SpeCalc;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ServiceConnectionString" connectionString="Data Source=usql-dev;Initial Catalog=Service;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="UnitProgConnectionString" connectionString="Data Source=usql-dev;Initial Catalog=unit_prog;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    
    <!--      
      В следующем пример преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле 
      <system.web>, не требуется использовать атрибут "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>