<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StuffUrl" value="http://test.portal.unitgroup.ru"/>
    <add key="zipClaimUrl" value="http://zip.unitgroup.ru"/>
    <add key="ServiceUrl" value="http://test.serv.unitgroup.ru"/>
    <add key ="Emails4Test" value="anton.rehov@unitgroup.ru" />
  <add key ="Emails4SysError" value="anton.rehov@unitgroup.ru" />
    <add key ="Environment" value="Test" />
    <add key="restHolidaysMaxCount" value="28"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <authentication mode="Windows" />
  </system.web>
  <connectionStrings>
    <add name="StuffConnectionString" connectionString="Data Source=udb-1;Initial Catalog=Stuff;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />
    <!--<add name="StuffConnectionString" connectionString="Data Source=usql-test;Initial Catalog=Stuff;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />-->
    <add name="SpeCalcConnectionString" connectionString="Data Source=usql-test;Initial Catalog=SpeCalc;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />
    <add name="EpriceConnectionString" connectionString="Data Source=usql-1;Initial Catalog=e_price;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />
    <add name="ServiceConnectionString" connectionString="Data Source=usql-1;Initial Catalog=Service;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />
    <add name="UnitProgConnectionString" connectionString="Data Source=udb-1;Initial Catalog=unit_prog;Timeout=10000;Persist Security Info=True;User ID=sqlUnit_prog;Password=1qazXSW@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>