@model Stuff.Models.StatementFired
@{
    Layout = "~/Views/Shared/_Editor.cshtml";
}
@section PanelHead
{
    Заявление на увольнение
}
@section PanelBody
{
    @using (Html.BeginForm("StatementFormFired", "Document", FormMethod.Post, new { @class = "form-horizontal", data_toggle = "validator", role = "form" }))
    {
        @Html.HiddenFor(m => m.SidEmployee, new { id = "sid" })
        <div class="form-group">
            <label class="col-lg-2 control-label" for="DateFired">Дата увольнения</label>
            <div class="col-lg-2">
                @Html.TextBoxFor(m => m.DateFired, "{0:dd.MM.yyyy}", new { @class = "form-control required-mark", @id = "DateFired", required = "required" })
                <span class="help-block with-errors"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-push-2 col-lg-8">
                <button type="submit" class="btn btn-primary" id="printStatementRestFewHours"><i class="fa fa-print"></i> На печать</button>
                <p class="text-danger" id="serverError">
                    @TempData["ServerError"]
                </p>
            </div>
        </div>

    }
}

@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#DateFired").datepicker({
                format: "dd.mm.yyyy",
                autoclose: true,
                language: "ru",
                startDate: "@String.Format("{0:dd.MM.yyyy}", DateTime.Now.AddDays(1))",
                orientation: "auto"
            });
        });

    </script>
}