<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WebServiceSoapBinding1" />
        <binding name="B2BWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="B2BWebServiceSoap1" />
        <binding name="MLBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MLBinding1" />
        <binding name="B2BWebServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="B2BWebServiceSoap3" />
        <binding name="B2bPublicSoapBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="B2bPublicSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api.treolan.ru/webservices/treolan.ASP"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoapBinding"
        contract="TreolanBase.WebServiceSoapPort" name="WebServiceSoapPort" />
      <endpoint address="https://api.treolan.ru/webservice2008/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="B2BWebServiceSoap"
        contract="TreolanProducts.B2BWebServiceSoap" name="B2BWebServiceSoap" />
      <endpoint address="https://api.merlion.com/dl/mlservice2" binding="basicHttpBinding"
        bindingConfiguration="MLBinding" contract="MerlionBase.MLPort"
        name="MLPort" />
      <endpoint address="https://b2bservice.ocs.ru/b2b.asmx" binding="basicHttpBinding"
        bindingConfiguration="B2BWebServiceSoap2" contract="OcsBase.B2BWebServiceSoap"
        name="B2BWebServiceSoap1" />
      <endpoint address="http://83.136.30.148/Public/wserp.1cws" binding="basicHttpBinding"
        bindingConfiguration="B2bPublicSoapBinding" contract="OldiBase.B2bPublicPortType"
        name="B2bPublicSoap" />
      <endpoint address="http://83.136.30.148/Public/wserp.1cws" binding="customBinding"
        bindingConfiguration="B2bPublicSoap12Binding" contract="OldiBase.B2bPublicPortType"
        name="B2bPublicSoap12" />
    </client>
  </system.serviceModel>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
