<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="stuffUrl" value="http://uc-1563:10000/"/>
    <add key="ItBudgetRecipients" value="Ildar.Gimaltdinov@unitgroup.ru|Svetlana.Demysheva@unitgroup.ru|Larisa.Ganishina@unitgroup.ru|alexander.medvedevskikh@unitgroup.ru|evgeniy.chetverikov@unitgroup.ru"/>
  </appSettings>
</configuration>