
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка доступа</title>
</head>
<body>
    <div style="text-align: center">
        <h4>К сожалению у вас нет доступа!</h4>
    </div>
</body>
</html>
