@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Editor.cshtml";
    ViewBag.Title = "Ошибка";
}

<h3 class="text-danger">При обработке запроса произошла ошибка.</h3>
<h4>
    Пожалуйста обратитесь в <a href='http://support.unitgroup.ru' target="_blank">Техподдержку</a> и укажите ваши действия до ошибки.
</h4>

